# Data Preprocessing Tools

## Importing the libraries

In [42]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy import stats
from statsmodels.stats.anova import anova_lm
import os

## Importing the dataset

In [43]:
df = pd.read_csv(r"C:\Users\LakshmanNavaneethakr\Downloads\lakshmansierra-git\hotel_review_regression\02-encoded_month\pre_post_covid_month_encoded.csv", encoding="latin1")

C:\Users\LakshmanNavaneethakr\AppData\Local\Temp\ipykernel_15748\3036155962.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\LakshmanNavaneethakr\Downloads\lakshmansierra-git\hotel_review_regression\02-encoded_month\pre_post_covid_month_encoded.csv", encoding="latin1")

In [44]:
print(df.shape)

(106655, 73)

In [45]:
print(df.columns)

Index(['Index', 'Hotel Category', 'Hotel Name', 'User Name', 'Location',
       'Contributions', 'helpful votes', 'Rating', 'RatingBinary',
       'Review Heading', 'Review Description', 'Trip Type', 'Date of stay',
       'Year', 'Review_Score', 'Review_Category', 'Aggregated_flag_for_stay',
       'Aggregated_flag_for_food', 'Aggregated_flag_for_clean',
       'Aggregated_flag_for_location', 'Aggregated_flag_for_cost',
       'Aggregated_flag_for_safety', 'Aggregated_flag_for_service',
       'Aggregated_flag_for_decoration', 'Aggregated_flag_for_facility',
       'Aggregated_flag_for_ambience', 'Aggregated_flag_for_room',
       'Total_aggregation_for_match_stay', 'Total_aggregation_for_match_food',
       'Total_aggregation_for_match_clean',
       'Total_aggregation_for_match_location',
       'Total_aggregation_for_match_cost',
       'Total_aggregation_for_match_safety',
       'Total_aggregation_for_match_service',
       'Total_aggregation_for_match_decoration',
       'Total_aggregation_for_match_facility',
       'Total_aggregation_for_match_ambience',
       'Total_aggregation_for_match_room', 'Aggregated_words_for_match_stay',
       'Aggregated_words_for_match_food', 'Aggregated_words_for_match_clean',
       'Aggregated_words_for_match_location',
       'Aggregated_words_for_match_cost', 'Aggregated_words_for_match_safety',
       'Aggregated_words_for_match_service',
       'Aggregated_words_for_match_decoration',
       'Aggregated_words_for_match_facility',
       'Aggregated_words_for_match_ambience',
       'Aggregated_words_for_match_room', 'Country', 'Code', 'Year.1',
       'World regions according to WB', 'pdi', 'idv', 'mas', 'uai', 'ltowvs',
       'ivr', 'India/Foreign', 'dummies', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7',
       'M8', 'M9', 'M10', 'M11', 'M12', 'review_length'],
      dtype='object')

## Selective columns

In [46]:
selected_columns = [
    'dummies',
    'Total_aggregation_for_match_stay',
    'Total_aggregation_for_match_food',
    'Total_aggregation_for_match_clean',
    'Total_aggregation_for_match_location',
    'Total_aggregation_for_match_cost',
    'Total_aggregation_for_match_safety',
    'Total_aggregation_for_match_service',
    'Total_aggregation_for_match_decoration',
    'Total_aggregation_for_match_facility',
    'Total_aggregation_for_match_ambience',
    'Total_aggregation_for_match_room',
    'M2', 
    'M3', 
    'M4', 
    'M5', 
    'M6', 
    'M7',
    'M8', 
    'M9', 
    'M10', 
    'M11', 
    'M12',
    'review_length',
    'Review_Score'
]

selected_df = df[selected_columns].copy()

In [47]:
print(selected_df.columns)

Index(['dummies', 'Total_aggregation_for_match_stay',
       'Total_aggregation_for_match_food', 'Total_aggregation_for_match_clean',
       'Total_aggregation_for_match_location',
       'Total_aggregation_for_match_cost',
       'Total_aggregation_for_match_safety',
       'Total_aggregation_for_match_service',
       'Total_aggregation_for_match_decoration',
       'Total_aggregation_for_match_facility',
       'Total_aggregation_for_match_ambience',
       'Total_aggregation_for_match_room', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7',
       'M8', 'M9', 'M10', 'M11', 'M12', 'review_length', 'Review_Score'],
      dtype='object')

In [48]:
print(selected_df.shape)

(106655, 25)

In [49]:
print(selected_df.dtypes)

dummies                                     int64
Total_aggregation_for_match_stay          float64
Total_aggregation_for_match_food          float64
Total_aggregation_for_match_clean         float64
Total_aggregation_for_match_location      float64
Total_aggregation_for_match_cost          float64
Total_aggregation_for_match_safety        float64
Total_aggregation_for_match_service       float64
Total_aggregation_for_match_decoration    float64
Total_aggregation_for_match_facility      float64
Total_aggregation_for_match_ambience      float64
Total_aggregation_for_match_room          float64
M2                                          int64
M3                                          int64
M4                                          int64
M5                                          int64
M6                                          int64
M7                                          int64
M8                                          int64
M9                                          int64
M10                                         int64
M11                                         int64
M12                                         int64
review_length                               int64
Review_Score                              float64
dtype: object

## filter post covid data with `dummies = 1`

In [50]:
post_covid_df = selected_df[selected_df['dummies'] == 1].copy()

In [51]:
print(post_covid_df.shape)

(35043, 25)

## drop dummies

In [52]:
post_covid_ml_df = post_covid_df.copy()

In [53]:
post_covid_ml_df.drop(columns=['dummies'], inplace=True)

In [54]:
print(post_covid_ml_df.shape)

(35043, 24)

In [55]:
post_covid_ml_df.head()

,Total_aggregation_for_match_stay,Total_aggregation_for_match_food,Total_aggregation_for_match_clean,Total_aggregation_for_match_location,Total_aggregation_for_match_cost,Total_aggregation_for_match_safety,Total_aggregation_for_match_service,Total_aggregation_for_match_decoration,Total_aggregation_for_match_facility,Total_aggregation_for_match_ambience,...,M5,M6,M7,M8,M9,M10,M11,M12,review_length,Review_Score
71612,1.2362,0.5994,0.7003,1.2362,0.0,0.0000,2.1268,0.0000,0.0000,2.1747,...,0,0,0,1,0,0,0,0,725,0.9833
71613,2.0226,4.0277,1.8543,1.9163,0.0,0.0000,2.8447,0.0000,1.6203,2.7388,...,1,0,0,0,0,0,0,0,782,0.9907
71614,1.1110,1.6829,0.9670,1.1110,0.0,0.0000,1.5389,0.0000,0.5719,0.5719,...,0,0,1,0,0,0,0,0,213,0.9775
71615,1.2014,0.5994,0.0000,1.7681,0.0,0.2023,1.3684,0.0000,0.6705,2.1101,...,0,0,0,1,0,0,0,0,763,0.9800
71616,0.0949,0.7586,0.0000,0.7433,0.0,0.0000,0.0000,0.5106,0.0000,0.0000,...,0,0,0,1,0,0,0,0,763,0.7665

## Loading X and Y

In [56]:
X = post_covid_ml_df.iloc[:, :-1].values
y = post_covid_ml_df.iloc[:, -1].values

In [57]:
print(X.shape)
print(y.shape)

(35043, 23)
(35043,)

## Observation

In [58]:
# Add constant (intercept)
X_sm = sm.add_constant(X)

# Fit full regression model
model_full = sm.OLS(y, X_sm).fit()

### Metrics table

In [59]:
n = int(model_full.nobs)
p = X.shape[1]
f_stat = model_full.fvalue
f_pvalue = model_full.f_pvalue
r2 = model_full.rsquared
adj_r2 = model_full.rsquared_adj
root_mse = np.sqrt(model_full.mse_resid)

metrics_table_df = pd.DataFrame({
    'Metric': [
        'Number of obs',
        f'F( {p}, {n - p - 1} )',
        'Prob > F',
        'R-squared',
        'Adj R-squared',
        'Root MSE'
    ],
    'Value': [
        n,
        round(f_stat, 2),
        f'{f_pvalue:.4f}',
        round(r2, 4),
        round(adj_r2, 4),
        round(root_mse, 5)
    ]
})

#### Save metrics table

In [60]:
os.makedirs("06-metrics-table", exist_ok=True)
metrics_table_df.to_csv("06-metrics-table/06_metrics_table.csv", index=False)

### ANOVA table

In [61]:
import statsmodels.formula.api as smf

dependent_var = post_covid_ml_df.columns[-1]
independent_vars = " + ".join(post_covid_ml_df.columns[:-1])
formula = f"{dependent_var} ~ {independent_vars}"

model_full = smf.ols(formula=formula, data=post_covid_ml_df).fit()

#### Feature level ANOVA table

In [62]:
# anova_results = anova_lm(model_full)
# anova_table = anova_results.reset_index()
# anova_table.rename(columns={'index': 'Source'}, inplace=True)

# # Format like Stata
# anova_table['SS'] = anova_table['sum_sq'].map('{:.6f}'.format)
# anova_table['df'] = anova_table['df'].astype(int)
# anova_table['MS'] = (anova_results['mean_sq']).map('{:.8f}'.format)
# anova_table = anova_table[['Source', 'SS', 'df', 'MS']]

# # Add Total row manually
# total_ss = anova_results['sum_sq'].sum()
# total_df = int(anova_results['df'].sum())
# total_ms = total_ss / total_df
# anova_table.loc[len(anova_table)] = ['Total',
#     f'{total_ss:.6f}', total_df, f'{total_ms:.8f}']

#### Model level ANOVA table

In [63]:
anova_results = anova_lm(model_full, typ=1)

# Aggregate all predictors’ SS and df into a single “Model” entry
ss_model = anova_results.loc[anova_results.index != 'Residual', 'sum_sq'].sum()
df_model = anova_results.loc[anova_results.index != 'Residual', 'df'].sum()
ss_resid = anova_results.loc['Residual', 'sum_sq']
df_resid = anova_results.loc['Residual', 'df']
ss_total = ss_model + ss_resid
df_total = df_model + df_resid

# Compute Mean Squares (MS)
ms_model = ss_model / df_model
ms_resid = ss_resid / df_resid
ms_total = ss_total / df_total

# Build Stata-style table
anova_table = pd.DataFrame({
    'Source': ['Model', 'Residual', 'Total'],
    'SS': [f'{ss_model:.6f}', f'{ss_resid:.6f}', f'{ss_total:.6f}'],
    'df': [int(df_model), int(df_resid), int(df_total)],
    'MS': [f'{ms_model:.8f}', f'{ms_resid:.8f}', f'{ms_total:.8f}']
})

#### Save ANOVA table

In [64]:
os.makedirs("07-anova-table", exist_ok=True)
anova_table.to_csv("07-anova-table/07_anova_table.csv", index=False)

### Coefficient Table

In [65]:
params = model_full.params
bse = model_full.bse
tvalues = model_full.tvalues
pvalues = model_full.pvalues
conf = model_full.conf_int()

coeff_table_df = pd.DataFrame({
    'Variable': params.index,
    'Coef.': params.values,
    'Std. Err.': bse.values,
    't': tvalues.values,
    'P>|t|': pvalues.values,
    'Lower 95%': conf[0].values,
    'Upper 95%': conf[1].values
})

# Formatting like your image
coeff_table_df['Coef.'] = coeff_table_df['Coef.'].map('{:.7f}'.format)
coeff_table_df['Std. Err.'] = coeff_table_df['Std. Err.'].map('{:.7f}'.format)
coeff_table_df['t'] = coeff_table_df['t'].map('{:.2f}'.format)
coeff_table_df['P>|t|'] = coeff_table_df['P>|t|'].map('{:.3f}'.format)
coeff_table_df['Lower 95%'] = coeff_table_df['Lower 95%'].map('{:.6f}'.format)
coeff_table_df['Upper 95%'] = coeff_table_df['Upper 95%'].map('{:.6f}'.format)
coeff_table_df.loc[coeff_table_df['Variable'] == 'const', 'Variable'] = '_cons'
coeff_table_df.reset_index(drop=True, inplace=True)

#### Save coefficient table

In [66]:
os.makedirs("08-coeff-table", exist_ok=True)
coeff_table_df.to_csv("08-coeff-table/08_coeff_table.csv", index=False)